name: Lint Code

on:
  - push

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.3.4
      - name: Install ubuntu dependencies
        run: sudo apt-get update && sudo apt-get install libasound2-dev
      - uses: actions/setup-node@v2
        name: Setup nodejs
        with:
          node-version: '14'
      - name: install dependencies
        run: npm ci
      - name: Run eslint
        run: npm run lint
